.main_screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 107%;
    display: block;
    margin-right: 100px;
}

.left_screen {
    float: left;
    position: relative;
}

.right_screen {
    float: right;
    padding: 20px;
    position: relative;
}

.G_box {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px; 
    display: flex; 
    align-items: center; 
    width: 100%; 
    margin-bottom: 20px; 
}

#face {
    font-size: 48px;
    margin-right: 20px;
    margin-left: 15px;
    width: 48px;
    height: 48px;
}

#text {
    font-size: 20px;
    font-weight: 500;
}

.login {
    width: calc(100% - 200px); 
    height: 40px;
    text-align: center;
    margin-top: 20px;
    background: #184ae4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login:hover {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: calc(100% - 200px);
    height: 40px;
    margin-top: 20px;
    background-color: green;
}

.email,
.pass {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

#lg {
    margin-bottom: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}
#or{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
fieldset{
    border: 2px solid black;
    border-radius: 5px;
}
#heading{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 40px;
}
@media screen and (max-width: 500px) {
    .main_screen {
        flex-direction: row;
        justify-content: center;
    }

    .left_screen {
        width: 40%;
        float: none;
        position: relative;
        text-align: center;
    }
    img{
        width: 60%;
    }

    .right_screen {
        width: 60%;
        float: none;
        padding: 20px;
        position: relative;
    }

    form {
        width: 100%;
        margin-right: 0;
    }

    .G_box {
        width: calc(100% - 20px);
    }

    #face {
        width: 60px;
        height: 60px;
    }

    #text {
        font-size: 16px;
    }

    .login {
        width: calc(100% - 40px);
    }

    .email,
    .pass {
        width: calc(100% - 20px);
    }

    #lg {
        margin-bottom: 10px;
        font-size: medium;
    }

    #or {
        font-size: medium;
    }

    fieldset {
        margin-bottom: 20px;
    }

    #heading {
        font-size: 24px;
        margin-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }
}

